@media (max-width: 600px) {
  .mobilelogo {
    display: block;
  }
  .smallscreendisplay {
    display: flex;
  }
  .header {
    display: none;
  }
  .menu {
    display: block;
  }
  .onestopaccess {
    padding: 0;
  }
  .onestopaccessholder {
    display: block;
    margin-top: 200px;
    padding-left: 10px;
  }
  .onestopaccesstexts {
    font-size: 36px;
  }
  .onestopaccesstexts2 {
    font-size: 32px;
  }
  .vv {
    color: white;
  }
  .icons {
    display: none;
    width: 100%;
    /* justify-content: space-around; */
  }
  .downloadbuttons {
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  .downloadbuttonsbutton {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    font-size: 17px;
  }
  .downloadbuttonsbutton2 {
    background-color: #06070a;
    border: 2px solid white;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    font-size: 17px;
  }
  .mobile-header {
    display: block;
  }
  .pricedata {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    padding: 20px;
  }
  .onetospacefigureholder {
    margin-top: -200px;
  }
  .pricedatafigures {
    font-size: 30px;
    font-weight: 450;
  }
  .optimizeyourtradetext {
    font-size: 27px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .header {
    display: none;
  }
  .menu {
    display: block;
  }
  .onestopaccess {
    padding: 0;
  }
  .smallscreendisplay {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

.g {
  color: white;
  border: 1px solid black !important;
  background: #007aff;
}
.getongooglebtn {
  border: 1px solid black !important;
  background: #007aff;
  color: white;
}

.hamburgerdiv {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hamburgerdiv {
    display: flex;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    padding: 30px;
  }
  .hamburger-menu {
    float: right;
  }
  .tabletlogodisplay {
    display: block;
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

/* App.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #0b0b14;
}
